__pycache__/
.ipynb_checkpoints/
basetts_outputs_use_bert/
basetts_outputs/
multilingual_ckpts
basetts_outputs_package/
build/
models/
*.egg-info/
datasets/
datasets/indonesia/*
datasets/LJSpeech-1.1/wavs
melo/logs/
melo/outputs/
output/
output_gradio/
.github
.git_backupmv
.gradio
*.zip
*.wav
*.pth
