__pycache__/
.ipynb_checkpoints/
basetts_outputs_use_bert/
basetts_outputs/
multilingual_ckpts
basetts_outputs_package/
build/
*.egg-info/
datasets/Bahasa-Kita/wavs
datasets/indonesia/*
datasets/LJSpeech-1.1/wavs
melo/logs/*
/ljspeech-models/
*.zip
*.wav
*.pth
